:host {
    height: 100%;
    width: 100%;
    display: flex;
    place-content: center;
}

.app-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 50px;

    .section { 
        margin-top: 25px;
        display: flex;
    }

    .menu-logo {
        margin-top: 50px;
        display: flex;
        max-height: 231px;
        max-width: 500px;

        .menu-logo-img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.mat-button {
    background-color: #FB1D5E;
    color: #FFFFFF;
    width: 100%;
    width: 250px;
}