<div class="app-content">

  <div class="menu-title">
    <span class="menu-title-p">Administrador IGUCA</span>
  </div>

  <div class="menu-old-courses">
    <button mat-button (click)="showExistingCourses()">Ver Cursos Existentes</button>
  </div>

  <div class="menu-old-company">
    <button mat-button (click)="showExistingCompanies()">Ver Companias Existentes</button>
  </div>

  <div class="menu-rendiciones">
    <button mat-button (click)="openReports()">Ver Reportes Existentes</button>
  </div>

  <div class="menu-logo">
    <img class="menu-logo-img" [src]="igucaLogo"/>
  </div>

  <div class="menu-logout">
    <button mat-button (click)="logOut()">Log out</button>
  </div>

</div>